In [55]:
import pandas as pd

In [56]:
def load_dataset(path):
    df = pd.read_csv(path, index_col=0)
    return df

In [57]:
df = load_dataset(r'concat_movie_data_twitter_10epochs.csv')

In [58]:
df

,Unnamed: 0.1,index,utterance,movie_name,tag,count_utterances,sentence,label
0,0,0,I got here as fast as legally possible.,1917,friendship,1480,I got here as fast as legally possible.,2
1,1,1,Do you have my will?,1917,friendship,1480,Do you have my will?,2
2,2,2,"Yes, sir.",1917,friendship,1480,"Yes, sir.",2
3,3,3,I think we should take him to the hospital.,1917,friendship,1480,I think we should take him to the hospital.,2
4,4,4,"No, George wants to stay at home.",1917,friendship,1480,"No, George wants to stay at home.",2
...,...,...,...,...,...,...,...,...
361051,920,920,I'LL CHECK ON YOUR HORSE.,X-Men,racism,948,I'LL CHECK ON YOUR HORSE.,2
361052,921,921,I'LL GO WITH YOU.,X-Men,racism,948,I'LL GO WITH YOU.,2
361053,922,922,NO.,X-Men,racism,948,NO.,1
361054,923,923,I WANT TO GO WITH YOU.,X-Men,racism,948,I WANT TO GO WITH YOU.,2
361055,924,924,I'LL COME BACK FOR YOU.,X-Men,racism,948,I'LL COME BACK FOR YOU.,2

In [59]:
del df['Unnamed: 0.1']
del df['utterance']
del df['tag']
del df['count_utterances']
del df['sentence']

In [60]:
df

        index movie_name  label
0           0       1917      2
1           1       1917      2
2           2       1917      2
3           3       1917      2
4           4       1917      2
...       ...        ...    ...
361051    920      X-Men      2
361052    921      X-Men      2
361053    922      X-Men      1
361054    923      X-Men      2
361055    924      X-Men      2

[361056 rows x 3 columns]

In [61]:
df.label = df.label.map({0: 'hate speech', 1:'offensive language', 2: 'neither'})

In [62]:
df

        index movie_name               label
0           0       1917             neither
1           1       1917             neither
2           2       1917             neither
3           3       1917             neither
4           4       1917             neither
...       ...        ...                 ...
361051    920      X-Men             neither
361052    921      X-Men             neither
361053    922      X-Men  offensive language
361054    923      X-Men             neither
361055    924      X-Men             neither

[361056 rows x 3 columns]

In [63]:
len(df.movie_name.unique())

252

In [64]:
df.to_csv('annotations_bert_twitter.csv')